{
  "env": {
    "jasmine": true,
    "node": true,
    "mocha": true,
    "browser": true,
    "builtin": true
  },
  "globals": {
      "angular": true,
      "Jimp": true,
      "Promise": true
  },
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core",
    "plugin:@coorpacademy/coorpacademy/mocha"
  ],
  "plugins": [
    "@coorpacademy/coorpacademy"
  ],
  "rules": {
    "indent": 'off',
    "no-console": 'off',
    "no-throw-literal": 'off',
    "no-useless-escape": 'off',
    "no-var": 'off',
    "yoda" : 'off',
    "no-multiple-empty-lines" : 'off',
    "key-spacing" : 'off'
  }
}
